<style>
	body {height:auto !important;}
	#intro {background:url('<%= asset_path('Intro_banner.jpg') %>') no-repeat;}
	#intro #box {background:url('<%= asset_path('caerusgreen.png') %>')}
</style>

<!-- Modal -->
<% content_for :current_body_id do %>homepage<% end %>
<% content_for :navbar do %>
<div class="navbar navbar-fixed-top" id="homenav">
		<div class="container">
		<div class="span12" style="width:990px;padding-top:17px">
			<div class="span4">
			<%= link_to image_tag('//s3.amazonaws.com/co_m_assets/CaerusGeoBeta_logo.png',:class => "pull-left"),'#' %>
			</div>
			<div class="span8">
				<ul class="nav pull-right" style="position: relative;top: 6px;">
				<li><%= link_to 'Build',"#make" %></li>
				<li><%= link_to 'Upload',"#upload" %></li>
				<li><%= link_to 'Analyze',"#analyze" %></li>
				<li id="auth_sec">
					<span class="modalLauncher" href="#" data-t="#signupModal">Sign-up</span>
					|
					<span class="modalLauncher" href="#" data-t="#loginModal">Login</span> 
				</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% end %>

<div class="container main" id="intro">
	
	<div class="span4" style="padding-top:20px">
		<div id="box">
			<h2>Generate printed map<br>
				surveys for collecting,<br>
				analyzing and sharing<br>
				social data</h2>
			<a class="btn btn-large btn-warning" href="#signupModal" role="button" data-toggle="modal">Get started &nbsp;<i style="font-weight: bold;line-height: 17px;" class=" icon-angle-right"></i></a>
		</div>
	</div>
	<div class="span8">
		&nbsp;
	</div>
</div>

<div class="container main subsection" style="padding-top:70px;background:#f8f8f8" >
	<div class="span8" style="margin-left:0px;background:url('<%= asset_path('Build_image.jpg') %>')  no-repeat">
		&nbsp;
	</div>
	<div class="span4">
		<h2 id="make">Generate Physical Maps<br>and collection schema</h2>
		<p>Choose any location in the world and turn it into a multi-page paper atlas. Print it out and use in the field.</p>
		<p>Build and print worksheets with structured information fields to gather data alongside your maps.</p>
		<%= image_tag('Paper_maps.jpg') %>
	</div>
</div>

<div class="container main subsection">
	
	<div class="span4">
		<h2 id="upload">Upload and manage<br>survey results</h2>
		<p>
			Easy steps for integrating your geographic and tabular data from the field. Upload batches of CSV’s or enter it manually. Easily adaptable to local workflows and processes.</p>
		<p>Store and manage data in the cloud for safety, security and sharing</p>
		<p>Share and compile your data with other team members.</p>
	</div>
	<div class="span8 pull-right" style="margin-right:0px;background:url('<%= asset_path('Upload_image.jpg') %>')  no-repeat">
		&nbsp;
	</div>
	
</div>

<div class="container main subsection" style="background:#f8f8f8">
	<div class="span8" style="margin-left:0px;background:url('<%= asset_path('Analyze_image.jpg') %>') no-repeat">
		&nbsp;
	</div>
	<div class="span4">
		<h2 id="analyze">Instantly view<br>your survey data</h2>
		<p>Instantly visualize your report data in basic charts and maps. Available online and as printed PDFs.</p>
		<p>
			Or export survey data as CSV’s or GeoJSON files to other programs like QGIS, ArcGIS or other visualization offerings like Ushahidi or GeoIQ.
		</p>
		<p>
			<a class="btn" href="http://www.caerusgeo.com/surveys/27/public">View 1854 London Cholera example survey</a>
		</p>
	</div>

</div>

<script>
$(document).ready(function() {
	$('body').scrollspy({target: '.navbar',offset:350})
	$(".nav").localScroll({duration: 500,offset:-147});
	$(".modalLauncher").click(function() {
		$($(this).data('t')).modal();
	});
})
</script>

<div id="signupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="signupLabel">Signup</h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path('user')) do |f| %>
	  <%= f.error_notification %>
	
	  <div class="inputs" style="margin-top:10px">
	  	<%= f.input :name, :required => true %>
	
	    <%= f.input :email, :required => true, :autofocus => true %>
	    <%= f.input :password, :required => true %>
	    <%= f.input :password_confirmation, :required => true %>
	    <%= f.input :time_zone, :priority => /US/ %>

	  </div>
	  <div class="actions">
	    <%= f.button :submit, "Create Profile", :class => "btn-large btn-success", :style => "float:left" %>
	  </div>
	<% end %>
  </div>
</div>

<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="loginLabel">Signin</h3>
  </div>
  <div class="modal-body">
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div class="inputs">
		    <%= f.input :email, :required => false, :autofocus => true %>
		    <%= f.input :password, :required => false %>
		    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
		  </div>
	
		  <div class="actions">
		    <%= f.button :submit, "Log in",:class => "btn-large" %>
		  </div>
	<% end %>
	
	<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
	
  </div>
</div>
