<% content_for :userbar do %>
	<%= render :partial => "partials/white_strip", :locals => {:survey => @report.survey} %>
<% end %>

<div class="grid-content">
	
  <div class="row">

      <div class="span3" style="padding-top:20px">
        <p>Created on <%= @report.created_at.strftime('%d %B, %Y') %></p>
        <p>Updated on <%= @report.updated_at.strftime('%d %B, %Y') %></p>
          <p><%= @report.user.name %></p>
         <p style="font-weight:bold"><%= @report.spresults.count %> Entries</p>

        <% if @report.method=='u' %>
          <% if @report.status %>
            <p>This report has been finished.<br /> You can now longer edit it.</p><br />
          <% else %>
            <p>You have unfinished map questions for this report.</p>
             <p><%= link_to "View Entries", edit_survey_report_path(@report.survey, @report), :class => "btn btn-large" %></p> 
          <% end %>
        <% else %>
           <p><%= link_to "View Entries", edit_survey_report_path(@report.survey, @report), :class => "btn btn-large" %></p> 
        <% end %>

        <% if @report.status %>
        <hr>
        <a class="btn" href="<%= url_for report_export_csv_path(@report.survey,@report) %>">
        	<i class="icon-download-alt"></i> CSV
        </a>

        <a class="btn" href="<%= url_for export_results_pdf_path(@report.survey, @report, :format => 'pdf') %>">
          <i class="icon-download-alt"></i> PDF
        </a>
        <% end %>
        <hr>

        <%= link_to 'Delete Report', survey_report_path, :method=>'delete', :confirm => "Are you sure you want to delete this?", :class => 'btn', :style => "margin-top:20px;" %>
        
    </div>
    <div class="span9">
        <div id="map" style="width:723px;height:500px;"></div>
    </div>

  </div>

</div><!-- Grid Content -->

<script>



$(document).ready(function() {
  var map_setup = <%= raw @report.survey.to_json %>;
  var map = Open.InitShow(map_setup,false,false,'map');
  var so_map = Open.InitShow(map_setup,true,true,'so_map');
  window.so_map = so_map;  
  var questions = new QuestionCollection(<%= raw @survey.actual_questions.to_json %>);
  var Spresults = Open.InitEntryDisplay(questions,"<%= @survey.map_form %>",'<%= url_for survey_report_spresults_path(@report.survey,@report) %>')


  Spresults.fetch({
    success:function() {
       var OpenResults = Open.HandleFetchedEntries(map,Spresults,true)
    },
    error:function() {
      alert("Sorry, there was an error loading this report's entries")
    }
  });

});
</script>
